/* Base styles */
.job-openings {
    padding: 20px;
    margin-top: 100px;
    min-height: 100vh;
}

.intro {
    padding: 20px;
    margin: auto;
    max-width: 70%;
    box-sizing: border-box;
}

.intro p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin: 0; /* Ensure no extra margin */
}

/* Job content */
.job-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Job row styling */
.job-row {
    flex: 1 1 calc(25% - 20px); /* Adjust width for four columns */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: calc(25% - 20px);
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.job-description-column h2 {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.job-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.job-description-column p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 10px;
}

.job-description-column .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more {
    color: red;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .job-row {
        flex: 1 1 calc(50% - 20px); /* Two columns on medium screens */
        max-width: calc(50% - 20px);
    }

    .job-openings {
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .job-row {
        flex: 1 1 calc(100% - 20px); /* One column on small screens */
        max-width: calc(100% - 20px);
    }

    .intro {
        max-width: 90%; /* Increase width on smaller screens */
    }

    .intro p {
        font-size: 0.9rem; /* Adjust font size */
    }

    .job-details {
        font-size: 0.8rem;
    }

    .job-description-column h2 {
        font-size: 1rem;
    }

    .job-description-column p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .intro {
        max-width: 100%; /* Ensure full width on extra small screens */
    }

    .intro p {
        font-size: 0.8rem; /* Further adjust font size */
    }
}

.no-jobs-container {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

.no-jobs-container h2 {
    color: red;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.no-jobs-container p {
    color: #333;
    font-size: 1.2rem;
}
