
.quiz{
    padding: 26px;
    background: #18453B;
    background: -webkit-linear-gradient(to right, #18453B, #00AB66);
    background: linear-gradient(to right,  #18453B, #00AB66);
    color: white;
    box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
