.services-container {
    padding: 40px 20px;
    background-color: black;
    color: #4C51BF;
}
/* Introduction Section */
.introduction {
    text-align: center;
    margin-bottom: 3rem;
    background: linear-gradient(to right, #E4C664 0%, #B18325 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 60%;
    margin: auto;
  }
.service-card {
    background-color: #222;
    /* padding: 15px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    margin-bottom: 20px;
    width: 80%; /* Reduced width */
    margin: 0 auto; /* Center align the card */
    transition: width 0.3s ease-in-out;
}

.service-card:hover {
    width: 85%; /* Increase width slightly on hover */
}

.service-card img {
    height: 200px;
    object-fit: cover;
}

.service-card .card-title {
    margin-bottom: 10px;
    color: #4C51BF; /* Tailwind text-indigo-600 */
}

.service-card .card-text {
    font-size: 1rem;
    color: rgb(216, 208, 208);
}

@media (max-width: 768px) {
    .service-card {
        width: 90%; /* Cover 90% of the screen on small screens */
        margin-top: 54px;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Vertical gap between cards */
    }
        /* Add margin-top to the third card */
        .service-card:nth-child(3) {
            margin-top: 20px;
        }
}
