.update-password-container {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    min-height: 60vh;
}

.update-password-form {
    max-width: 800px;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 13px;
}

.form-group label {
    display: block;
    margin-bottom: 2px;
    color: whitesmoke;
}

.form-group input {
    width: 100%;
    padding: 6px;
    border: 1px solid #333;
    background-color: #222;
    color: whitesmoke;
}

button {
    background-color: #4C51BF; /* Tailwind text-indigo-600 */
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #5A67D8; /* Tailwind text-indigo-500 */
}

/* Optional: Style for error messages */
.text-danger {
    color: red;
    font-size: 0.875rem;
}
