/* src/styles/whyus.css */
.why-us-container {
  color: #4C51BF; /* Tailwind text-indigo-600 */
  width: 95%;
  margin: auto;
  padding: 15px;
}

.why-us-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #4C51BF; /* Tailwind text-indigo-600 */
}

.reasons-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reason-card {
  padding: 26px;
  margin-top: 20px;
  background-color: #222;
  /* padding: 15px; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 100%;
  /* max-width: 300px; */
  min-height: 140px;
  text-align: left; 
}

.reason-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4C51BF; /* Tailwind text-indigo-600 */
}

.reason-card p {
  font-size: 0.9rem;
}
