.navbar .nav-link {
  color: white !important; /* Ensure the links are white */
  font-size: 1.2rem; /* Adjust font size as needed */
  padding: 10px 15px; /* Add some padding for spacing */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.navbar .nav-link:hover {
  color: #18453B !important; /* Change color on hover to make it stand out */
  text-decoration: none; /* Remove underline on hover */
}

/* Customizing the existing Bootstrap navbar-toggler-icon */
.navbar-toggler-icon {
  background: none; /* Remove the default background */
  width: 30px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  display: inline-block; /* Ensure it's an inline block */
  position: relative; /* Position relative to use pseudo-elements */
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px; /* Height of each bar */
  background-color: white; /* Color of the bars */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar-toggler-icon::before {
  top: 0; /* Position the top bar */
}

.navbar-toggler-icon::after {
  bottom: 0; /* Position the bottom bar */
}

.navbar-toggler-icon div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white; /* Color of the middle bar */
  transition: background-color 0.3s ease; /* Smooth transition */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%); /* Center it vertically */
}

.footer{
  color: #888 !important;
  font-size: 0.9rem;
}
.footer h5{
  font-size: 1.25rem;
}
.footer ul li{
  font-size: 0.9rem;
}
.footer p{
  font-size: 0.9rem;

}
p{
  font-size: 0.9rem;
}
h2{
  font-size: 1.2rem;
}
.bg{
  background: #18453B;
  background: -webkit-linear-gradient(to right, #18453B, #00AB66);
  background: linear-gradient(to right,  #18453B, #00AB66);
}
.custom-width {
  width: 60%;
  margin: auto;
  background: #18453B;
  background: -webkit-linear-gradient(to right, #18453B, #00AB66);
  background: linear-gradient(to right, #18453B, #00AB66);
}

@media (max-width: 767px) {
  .custom-width {
      width: 95% !important; /* Adjusted width on small screens */
  }
}

.btn-1{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #18453B;
  background: -webkit-linear-gradient(to right, #18453B, #00AB66);
  background: linear-gradient(to right,  #18453B, #00AB66);
  text-decoration: none;
  color: white !important;
  overflow: hidden;
}
.custom-width-1 {
  width: 60%;
  margin: auto;

}

@media (max-width: 767px) {
  .custom-width-1 {
      width: 95% !important; /* Adjusted width on small screens */
  }
}
.btn-1:hover{
  text-decoration: none;
  background: #091815;
  background: -webkit-linear-gradient(to right, #18453B, #101d18);
  background: linear-gradient(to right,  #18453B, #101d18);
  color: #fff;
  text-decoration: none;
}
.slanted-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #18453B;
  background: -webkit-linear-gradient(to right, #18453B, #00AB66);
  background: linear-gradient(to right,  #18453B, #00AB66);
  text-decoration: none;
  color: white !important;
  overflow: hidden;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  transition: clip-path 0.3s ease;
}

.slanted-button:hover {
  text-decoration: none;
  background: #091815;
  background: -webkit-linear-gradient(to right, #18453B, #101d18);
  background: linear-gradient(to right,  #18453B, #101d18);
  color: #fff;
  text-decoration: none;

}


body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #131212c9, #1a1919);
  background: linear-gradient(to right, #000000, #000000);
}


.landing .column {
  padding: 20px;
}

.message-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

.message {
  position: absolute;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.0rem;
  padding: 26px;
  color: white;
  transform: translateY(100%) scale(0.8);
  animation: cardAnimation 20s linear infinite;
}

.message p {
  font-size: 0.9rem;
}

.message:nth-child(1) {
  animation-delay: 0s;
}

.message:nth-child(2) {
  animation-delay: 5s;
}

.message:nth-child(3) {
  animation-delay: 10s;
}

.message:nth-child(4) {
  animation-delay: 15s;
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }

  5%,
  25% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  30%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.8);
  }
}
